<div id="wrapper">

  <!-- 
    PAGE HEADER 
    
    CLASSES:
      .page-header-xs	= 20px margins
      .page-header-md	= 50px margins
      .page-header-lg	= 80px margins
      .page-header-xlg= 130px margins
      .dark			= dark page header

      .shadow-before-1 	= shadow 1 header top
      .shadow-after-1 	= shadow 1 header bottom
      .shadow-before-2 	= shadow 2 header top
      .shadow-after-2 	= shadow 2 header bottom
      .shadow-before-3 	= shadow 3 header top
      .shadow-after-3 	= shadow 3 header bottom
  -->
  <section class="page-header parallax parallax-3" style="background-image:url('content/images/_smarty/imgpattern2.jpg')">
    <div class="overlay dark-0"><!-- dark overlay [0 to 9 opacity] --></div>

  </section>
  <!-- /PAGE HEADER -->




  <!-- -->
  <section>
    <div class="container">

      <!-- FILTER -->
      <ul class="nav nav-pills mix-filter mb-30">
        <li data-filter="all" class="filter"><a>All</a></li>
        <li data-filter=".faq" class="filter"><a>Frequent asked Questions</a></li>
        <li data-filter=".documents" class="filter"><a>Documents</a></li>
        <li data-filter=".policies" class="filter"><a>Policies</a></li>
        <li data-filter=".locations" class="filter"><a>Locations</a></li>
        <li data-filter=".guide" class="filter"><a>Guide</a></li>
      </ul>
      <!-- /FILTER -->

      <div class="row mix-grid">

        <!-- LEFT COLUMNS -->
        <div class="col-md-9">

          <!-- TOGGLES -->
          <div class="toggle toggle-transparent toggle-bordered-simple">

            <div class="toggle mix faq"><!-- toggle -->
              <label>1. Nulla lacinia iaculis nulla non pulvinar?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  <img class="hidden-sm float-left" src="demo_files/images/girl_looking-min_thumb.jpg" alt="Careers" />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix documents"><!-- toggle -->
              <label>2. Lacinia iaculis nulla non pulvinar?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

                <div class="row">

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                </div>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix faq"><!-- toggle -->
              <label>3. Quisque rutrum pellentesque imperdiet?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

                <div class="row">

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="demo_files/images/1200x800/10-min.jpg" class="item-image lightbox" data-plugin-options='{"type":"image"}'>
                        <img class="img-fluid" src="demo_files/images/451x300/10-min.jpg" alt="" />
                      </a>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="http://www.youtube.com/watch?v=s0MDY9fl-IA" class="item-image lightbox" data-plugin-options='{"type":"iframe"}'>
                        <img class="img-fluid" src="demo_files/images/451x300/11-min.jpg" alt="" />
                      </a>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="demo_files/images/1200x800/25-min.jpg" class="item-image lightbox" data-plugin-options='{"type":"image"}'>
                        <img class="img-fluid" src="demo_files/images/451x300/25-min.jpg" alt="" />
                      </a>
                    </div>

                  </div>

                </div>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix policies"><!-- toggle -->
              <label>4. Iaculis nulla non pulvinar?</label>
              <div class="toggle-content">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix documents"><!-- toggle -->
              <label>5. Lorem ipsum dolor sit amet, consectetur?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix documents"><!-- toggle -->
              <label>6. Cum sociis natoque penatibus et magnis?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix policies"><!-- toggle -->
              <label>7. Ut eu risus enim, ut pulvinar lectus?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix locations guide"><!-- toggle -->
              <label>8. Nulla lacinia iaculis nulla non pulvinar?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  <img class="hidden-sm float-left" src="demo_files/images/girl_looking-min_thumb.jpg" alt="Careers">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix guide"><!-- toggle -->
              <label>9. Lacinia iaculis nulla non pulvinar?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

                <div class="row">

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                </div>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix locations"><!-- toggle -->
              <label>10. Quisque rutrum pellentesque imperdiet?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

                <div class="row">

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="demo_files/images/1200x800/10-min.jpg" class="item-image lightbox" data-plugin-options='{"type":"image"}'>
                        <img class="img-fluid" src="demo_files/images/451x300/10-min.jpg" alt="" />
                      </a>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="http://www.youtube.com/watch?v=s0MDY9fl-IA" class="item-image lightbox" data-plugin-options='{"type":"iframe"}'>
                        <img class="img-fluid" src="demo_files/images/451x300/11-min.jpg" alt="" />
                      </a>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="demo_files/images/1200x800/25-min.jpg" class="item-image lightbox" data-plugin-options='{"type":"image"}'>
                        <img class="img-fluid" src="demo_files/images/451x300/25-min.jpg" alt="" />
                      </a>
                    </div>

                  </div>

                </div>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix policies"><!-- toggle -->
              <label>11. Iaculis nulla non pulvinar?</label>
              <div class="toggle-content">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix guide"><!-- toggle -->
              <label>12. Lorem ipsum dolor sit amet, consectetur?</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

              </div>
              
							<span class="markLastMixerItem" style="display: none"></span>
            </div><!-- /toggle -->

          </div>
          <!-- /TOGGLES -->

        </div>
        <!-- /LEFT COLUMNS -->

        <!-- RIGHT COLUMNS -->
        <div class="col-md-3">

          <!-- POPULAR QUESTIONS -->
          <h4><strong>Poular</strong> Topics</h4>
          <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet.</em></p>

          <hr />

          <ul class="list-unstyled"><!-- block 1 -->
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Consectetur adipiscing elit</a></li>
            <li><a href="#">Quisque rutrum pellentesque</a></li>
          </ul><!-- /block 1 -->

          <hr />

							<!-- ASK A QUSTION -->
							<h4><strong>Ask</strong> a question</h4>
							<form class="sky-form clearfix" #emailForm="ngForm">
								<label class="input">
									<i class="ico-prepend fa fa-user"></i>
									<input type="text" placeholder="Name" [(ngModel)]="email.userName" name="userName" id="userName" [disabled]="emailingStatus !== 'newMail'" required>
								</label>
								<label class="input">
									<i class="ico-prepend fa fa-envelope"></i>
									<input type="text" placeholder="Email" [(ngModel)]="email.userAddress" name="userAddress" id="userAddress" [disabled]="emailingStatus !== 'newMail'" required email>
								</label>
								<label class="textarea">
									<i class="ico-prepend fa fa-comment"></i>
									<textarea rows="3" placeholder="Type your question..." [(ngModel)]="email.body" name="body" id="body" [disabled]="emailingStatus !== 'newMail'" required></textarea>
								</label>
								<button type="button" class="btn btn-primary btn-sm float-right" (click)="onSubmitEmail()" [disabled]="!emailForm.form.valid || emailingStatus === 'sending'" [hidden]="emailingStatus === 'sent'">SUBMIT YOUR QUESTION</button>
								<button type="button" class="btn btn-primary btn-sm float-right" (click)="onTrySendAgain()" [hidden]="!(emailingStatus === 'failed')">TRY AGAIN</button>
								<button type="button" class="btn btn-primary btn-sm float-right" (click)="onCreateNewEmail(); emailForm.reset();" [hidden]="emailingStatus !== 'sent'">Create another</button>
							</form>
        </div>
        <!-- /RIGHT COLUMNS -->

      </div>
      
    </div>
  </section>
  <!-- / -->
</div>
<!-- /wrapper -->
