		<div id="wrapper">
			<section>
				<div class="container">

					<div class="heading-title heading-line-single">
						<h1>Support</h1>
					</div>
					<!-- FILTER -->
					<ul class="nav nav-pills mix-filter mb-30">
						<li data-filter="all" class="filter"><a>All</a></li>
						<li data-filter=".design-style" class="filter"><a>Design & Style</a></li>
						<li data-filter=".cleaning-care" class="filter"><a>Cleaning & Care</a></li>
					</ul>
					<!-- /FILTER -->

					<div class="row mix-grid">

						<!-- LEFT COLUMNS -->
						<div class="col-md-9">

							<!-- TOGGLES -->
							<div class="toggle toggle-transparent toggle-bordered-simple">

								<div class="toggle mix design-style"><!-- toggle -->
									<label>Color Variation</label>
									<div class="toggle-content">
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<div class="text-center">
													<img class="img-fluid" src="content/images/caring/design-style/color-variation.png" alt="" />
												</div>
											</div>
											<div class="col-md-8 col-sm-12">
												<div class="text-left">
													<p>
														Carefully chosen of design elements and their combinations is one of the most important work in interior design. Well balanced selections will add dramatic touch to the appearance of the interior. 
														<br/>
														<br/>
														Color is always a big part of design elements. When designing interior, take into account not only the type of color, but also the variation of colors. In some cases, it might be more suitable to use more unified color like sunny beach in summer breeze. While in others, it might catch more eyes if the color variates like autumn nortern mountain.
														<br/>
														<br/>
														Color Variation means, in a given fixed area, how much the color of the floor variates. Color Variation is scaled as 1 (least color variation) to 5 (most color variation). 
													</p>
												</div>
											</div>
										</div>
									</div>
								</div><!-- /toggle -->

								<div class="toggle mix cleaning-care"><!-- toggle -->
									<label>Protect Your Investment</label>
									<div class="toggle-content">
										<p class="clearfix">
											Touching your beautiful home with hardwood floors is a brilliant idea that increases the value of your property. It is an investment that you want to pretect. You will want to keep the value at the peak condition while enjoy the comfortness it brings over the years.
											<br/>
											<br/>
											The key to maintain the healthy condition of the hardwood floors is the environment. Keeping the room at a stable environment, with the room temperature between 60° to 80° F and humidity range of 30-50% is recommended year round.
										</p>
									</div>
								</div><!-- /toggle -->

								<div class="toggle mix cleaning-care"><!-- toggle -->
									<label>General Care and Maintenance Tips</label>
									<div class="toggle-content">
										<p class="lead">Pets</p>
										<p class="clearfix">
											Dog's or cat's nails are very sharp. They can scratch any finish. So keep the nails clipped. 
											<br/>
											<br/>
											Also, standing water or liquid is a hazard to wood. A mat under your pet's water dish is a good idea. And don't forget to clean up pets' "nature waste" as soon as possible, or train them well so they don't do it in house.
										</p>
										<p class="lead">Area Rug Backings</p>
										<p class="clearfix">Rubber or abrasive backing is bad for hardwood floors because they could damage or discolor the floors. Use rugs with a natural backing</p>
									</div>
									<span class="markLastMixerItem" style="display: none"></span>
								</div><!-- /toggle -->

								<div class="toggle mix design-style"><!-- toggle -->
									<label>Style! Style! Style!</label>
									<div class="toggle-content">
										<div class="row">

											<div class="col-md-8 col-sm-12">
												<div class="text-center">
												<p>
													From the warmth of tropical sunshine, to the coolness of Alpine summit, from the passionate firing color, to the peaceful mind of texture, Crystal Flooring offers a wide range of variaties of selections on colors, textures, finishings, to suite your unique taste of style. Explore our various of collections for the trends and styles, feel free.
												</p>
												</div>
											</div>

											<div class="col-md-4 col-sm-6">
												<div class="text-center">
													<img class="img-fluid" src="content/images/caring/design-style/style.png" alt="" />
												</div>
											</div>

										</div>

									</div>
								</div><!-- /toggle -->

								<div class="toggle mix cleaning-care"><!-- toggle -->
									<label>Surface Cracks</label>
									<div class="toggle-content">
										<p class="clearfix">
											During the winter months of low humidity, minor surface cracks may appear in wood flooring, then often close up again in the summer months when the humidity is higher. 
											<br/>
											<br/>
											This is a normal for natural wood. If there is no structural failure, you don't have to complain to the manufacturer.
										</p>
									</div>
								</div><!-- /toggle -->

								<div class="toggle mix design-style"><!-- toggle -->
									<label>Finishing - Lacquer and Oil (VCC Only)</label>
									<div class="toggle-content">
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<div class="text-center">
													<img class="img-fluid" src="content/images/caring/design-style/lacquer-vs-oil.png" alt="" />
												</div>
											</div>
											<div class="col-md-8 col-sm-12">
												<div class="text-left">
													<p>
														Lacquering and Waxing/Oiling are different ways of finishing the wood floor. Comparing to the old fashioned waxed/oiled finishes, which require regular treatment to keep them maintained, the modern lacquered wood floor has more attractive features, such as:
													</p>
													<ul class="list-icon check-square">
														<li>Tough and hardwearing surface</li>
														<li>Easy to clean</li>
														<li>0 or minimum effort to maintain</li>
														<li>Preserved nature color</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div><!-- /toggle -->

								<div class="toggle mix cleaning-care"><!-- toggle -->
									<label>Preventive Maintenance</label>
									<div class="toggle-content">
										<p class="clearfix">
											Hardwood floor products in nowadays are easy to maintain. Besides the environmental control, regular cleaning is all it needs. Simple sweeping, dust mopping, and vacuuming will keep your floor looks like new for years.
											<br/>
											<br/>
											CAUTION: It is important to only use a cleaning product compatible with the type of finish of your flooring.
											<br/>
											<br/>
											Your purchase usually comes with maitenance instructions. Carefully follow the these instructions. Avoid using a wet mop as over time this can damage the finish.
											<br/>
											<br/>
											All purpose cleaners are also not recommended as they can dull your floor's finish or leave a hazy residue.
										</p>
									</div>
								</div><!-- /toggle -->
	
								<div class="toggle mix cleaning-care"><!-- toggle -->
									<label>Goods and Bads</label>
									<div class="toggle-content">

										<div class="row">

											<div class="col-md-6 col-sm-9">
												<p class="lead">What is good for the hardwood floor:</p>
												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Regular sweeping, dust mopping or vacuuming (disengage the vacuum cleaner's beater bar, which is the rotating bristle brush, before use it on the hardwood floor).</li>
													<li>Removing liquid spills immediately with cloth or paper towels.</li>
													<li>An area rug in front of the kitchen sink, to catch water.</li>
													<li>Maintaining with the appropriate floor cleaner.</li>
													<li>Limited direct sun exposure.</li>
													<li>Maintaining room temperature (60°­–80° F).</li>
													<li>Maintaining relative humidity between 30-50%.</li>
													<li>Felt protectors or furniture coasters under heavy furniture.</li>
													<li>Caster wheeled chairs should have wide casters.</li>
													<li>A protective mat under office chairs.</li>
													<li>In areas with icy or snowy winters, extra protection against salt & grit may be needed.</li>
													<li>Mats and throw rugs at doorways, exteriors and interiors. This helps preventing the tracking of grit, dirt and sand.</li>
												</ul>

											</div>

											<div class="col-md-6 col-sm-9">
												<p class="lead">What is bad for the hardwood floor:</p>
												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Oil based soaps.</li>
													<li>Paste wax based products (NEVER wax a lacquered finished floor).</li>
													<li>Steam cleaners. They are not recommended for use on natural wood flooring.</li>
													<li>Wet mopping. Standing water can dull a finish, damage the wood and leave a discoloring residue.</li>
													<li>Dragging sharp wooden legs or metal furniture legs, as it can scratch/dent hardwood floors.</li>
													<li>Moving heavy furniture without protecting wood flooring by slipping a piece of cloth or pile under the legs or bottom of items.</li>
													<li>Cleats, sport shoes and high heels. They can dent any floor surface.</li>
													<li>Placing porous flower pots or vases on the floor.</li>
													<li>Steel wool or scourers.</li>
												</ul>

											</div>

										</div>

									</div>
								</div><!-- /toggle -->

								<div class="toggle mix cleaning-care"><!-- toggle -->
									<label>Color Change</label>
									<div class="toggle-content">
										<p class="clearfix">
											When hardwood floor ages, its color may change from its original color. This may caused by exposure to the sunlight, heat, or air conditioning. This is the nature of hardwood floor. It is not defect. 
											<br/>
											<br/>
											When an area is covered with large furnitures or rugs, the covered hardwood floor may have less color changing than the area around it. If possible, rotate the locations of the furnitures or rugs regularly to avoid this unwanted visual impact.
										</p>
									</div>
								</div><!-- /toggle -->

								<div class="toggle mix cleaning-care"><!-- toggle -->
									<label>Seasonal Gaps</label>
									<div class="toggle-content">
										<p class="clearfix">
											Seasonal gapping can be expected, especially on wider planks. This is normal and not a defect. 
											<br/>
											<br/>
											Environmental conditions is the main reason why the seasonal gapping can happen. The wood will expand or contract to the changes of temperature and/or humidity. Keeping a comparatively stable temperature and relative humidity is important to minimum these gappings.
										</p>
									</div>
								</div><!-- /toggle -->

							</div>
							<!-- /TOGGLES -->

						</div>
						<!-- /LEFT COLUMNS -->

						<!-- RIGHT COLUMNS -->
						<div class="col-md-3">
							<hr />

							<!-- ASK A QUSTION -->
							<h4><strong>Ask</strong> a question</h4>
							<form class="sky-form clearfix" #emailForm="ngForm">
								<label class="input">
									<i class="ico-prepend fa fa-user"></i>
									<input type="text" placeholder="Name" [(ngModel)]="email.userName" name="userName" id="userName" [disabled]="emailingStatus !== 'newMail'" required>
								</label>
								<label class="input">
									<i class="ico-prepend fa fa-envelope"></i>
									<input type="text" placeholder="Email" [(ngModel)]="email.userAddress" name="userAddress" id="userAddress" [disabled]="emailingStatus !== 'newMail'"  required email>
								</label>
								<label class="textarea">
									<i class="ico-prepend fa fa-comment"></i>
									<textarea rows="3" placeholder="Type your question..." [(ngModel)]="email.body" name="body" id="body" [disabled]="emailingStatus !== 'newMail'"  required></textarea>
								</label>
								<button type="button" class="btn btn-primary btn-sm float-right" (click)="onSubmitEmail()" [disabled]="!emailForm.form.valid || emailingStatus === 'sending'" [hidden]="emailingStatus === 'sent'">SUBMIT YOUR QUESTION</button>
								<button type="button" class="btn btn-primary btn-sm float-right" (click)="onTrySendAgain()" [hidden]="!(emailingStatus === 'failed')">TRY AGAIN</button>
								<button type="button" class="btn btn-primary btn-sm float-right" (click)="onCreateNewEmail(); emailForm.reset();" [hidden]="emailingStatus !== 'sent'">Create another</button>
							</form>
						</div>
						<!-- /RIGHT COLUMNS -->

					</div>
					
				</div>
			</section>
			<!-- / -->
		</div>
		<!-- /wrapper -->
