			<!-- REVOLUTION SLIDER -->
			<section id="slider" class="fullwidthbanner-container roundedcorners">
          <div class="fullscreenbanner" data-navigationStyle="preview4">
            <ul class="hide">
              <!-- SLIDE  -->
              <li *ngFor="let slide of carouselSlides; let lastSlide = last;"
                data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" [attr.data-title]="slide.title" [attr.data-thumb]="slide.imageThumbnailUrl">

                <img 
                  src="/content/images/1x1.png" 
                  [attr.data-lazyload]="slide.imageUrl" 
                  alt="" 
                  data-bgfit="cover" 
                  data-bgposition="center bottom" 
                  data-bgrepeat="no-repeat" />
  
                <div class="tp-caption customin ltl tp-resizeme" [ngClass]="slide.titleTextOpt.classes"
                  [attr.data-x]="slide.titleTextOpt.dataX" [attr.data-hoffset]="slide.titleTextOpt.hOffset"
                  [attr.data-y]="slide.titleTextOpt.dataY" [attr.data-voffset]="slide.titleTextOpt.vOffset"
                  data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                  data-speed="800"
                  data-start="1000"
                  data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
                  data-elementdelay="0.01"
                  data-endelementdelay="0.1"
                  data-endspeed="1000"
                  data-endeasing="Power4.easeIn" style="z-index: 10;">
                  {{slide.title | uppercase}}
                </div>
  
                <div class="tp-caption customin ltl tp-resizeme" [ngClass]="slide.descriptionTextOpt.classes"
                  [attr.data-x]="slide.descriptionTextOpt.dataX" [attr.data-hoffset]="slide.descriptionTextOpt.hOffset"
                  [attr.data-y]="slide.descriptionTextOpt.dataY" [attr.data-voffset]="slide.descriptionTextOpt.vOffset"
                  data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                  data-speed="800"
                  data-start="1200"
                  data-easing="easeOutQuad"
                  data-splitin="none"
                  data-splitout="none"
                  data-elementdelay="0.01"
                  data-endelementdelay="0.1"
                  data-endspeed="1000"
                  data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
                  {{slide.description}}
                </div>
                <span *ngIf="lastSlide" class="markLastTopCarouselSlide" style="display: none">{{!topCarouselIsIntialized && initTopCarousel()}}</span>
              </li>

            </ul>
          </div>
        </section>
        <!-- /REVOLUTION SLIDER -->