<div id="wrapper">
  <section>
    <div class="container">

      <div class="heading-title heading-line-single">
        <h1>Job Opportunities</h1>
      </div>
      <div class="row">

        <!-- LEFT COLUMNS -->
        <div class="col-md-10">

          <!-- TOGGLES -->
          <div class="toggle toggle-transparent toggle-bordered-simple">

            <div class="toggle"><!-- toggle -->
              <label>Position Offered: Commercial and Industrial Designer</label>
              <div class="toggle-content">
                <div class="row">
                  <div class="col-md-9 col-sm-12">
                    <div class="text-left">
                      <h4>
                        Number of Opening: 1
                      </h4>
                      <p>Job Duties:</p>
                      <ol class="list-icon check-square">

                        <li>Responsible for conceptualization and design of solutions from concept to completion. Render concepts for presentations. Prepare sketches of ideas, detailed drawings, illustrations, or blueprints, using drafting instruments, paints and brushes, or computer-aided design equipment, such as photoshop and illustrator. </li>
                        <li>Design and photoshop the surfaces color and textures of the floor, put design files together into a series, 3D molding the space, and calculate resize the measure to make products accurate. Photoshop the look and make documents. </li>
                        <li>Research and analyze seasonal trends and markets data. Participate in new product planning, studying, the potential need for new products, and material research for the new products. </li>
                        <li>Create products surface design texture and color by using adobe indesign, adobe photoshop, adobe illustrator, powerpoint and video tools. Coordinate the look and function of product lines. Create value of products, materials and planning functions.</li>
                        <li>Design graphic materials for use as ornamentation, illustration, or advertising on manufactured materials and packaging or containers. </li>
                        <li>Track and follow product development trials and color line processing through operations. </li>
                        <li>Confer with engineering, production, or sales departments, or with customers, to establish and evaluate design concepts for manufactured products. </li>
                        <li>Modify and refine designs by using CAD software to put pre-make products image （photoshop to resize the image, adjust the color） into a space, and present them in a whole, using working models, to conform with customer specifications, production limitations, or changes in design tends. </li>
                        <li>Create and maintain detailed product specifications I.E. measurements, color, material usage and construction. </li>
                        <li>Develop and design raw material components: includes but not limit to mouldings, wood, mat boards, resin, metal that will be used for the floor dcor products or showroom dcor environment. </li>
                        <li>Attend trade shows, identify market trends and art direction accordingly, present designs and reports to customers or management for approval and discuss need for modification. </li>
                      </ol>
                      <p>
                        This position needs Master’s Degree in Fiber and Material. Salary will be negotiated, based on experience and performance. CV to Crystal Flooring, Inc, 1900 Proforma Ave., Suite C, Ontario, CA 91761
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /toggle -->
          </div>
          <!-- /TOGGLES -->

        </div>
        <!-- /LEFT COLUMNS -->
      </div>
      
    </div>
  </section>
  <!-- / -->
</div>
<!-- /wrapper -->
