  <footer id="footer">
    <div class="container">

        <div class="row">
            
            <div class="col-md-4">
                <!-- Footer Logo -->
                <img class="footer-logo" src="/content/images/logo.textonly.h39.light.png" alt="" />

                <!-- Small Description -->
                <p>Serves your needs with our heart.</p>

                <!-- Contact Address -->
                <address>
                    <ul class="list-unstyled">
                        <li class="footer-sprite address">
                            1900 Proforma Ave., Ste C<br>
                            Ontario, CA 91761, U.S.A.<br>
                        </li>
                        <li class="footer-sprite phone">
                            Phone: 1-909-923-0186
                        </li>
                        <li class="footer-sprite phone">
                            Fax: 1-909-923-0189
                        </li>
                        <li class="footer-sprite email">
                            <a href="mailto:order@crystalfloor.us">order@crystalfloor.us</a>
                        </li>
                    </ul>
                </address>
                <!-- /Contact Address -->

            </div>

            <div class="col-md-4">

                <!-- Latest Blog Post -->
                <h4 class="letter-spacing-1">LATEST NEWS</h4>
                <ul class="footer-posts list-unstyled">
                    <li>
                        <a href="#">Crystal Flooring is online.</a>
                        <small>April 1st, 2019</small>
                    </li>
                </ul>
                <!-- /Latest Blog Post -->

            </div>

            <div class="col-md-4">

                <!-- Links -->
                <h4 class="letter-spacing-1">EXPLORE CRYSTAL</h4>
                <ul class="footer-links list-unstyled">
                    <li *ngFor="let _menuItem of menuItems">
                        <a *ngIf="!_menuItem.useScroll" href="{{_menuItem.url}}">{{_menuItem.title}}</a>
                        <a *ngIf="_menuItem.useScroll" scrollTo="{{_menuItem.scrollTo}}">{{_menuItem.title}}</a>
                    </li>
                    <li><a href="jobs">Jobs</a></li>
                </ul>
                <!-- /Links -->

            </div>

        </div>

    </div>

    <div class="copyright">
        <div class="container">
            <!-- <ul class="float-right m-0 list-inline mobile-block">
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li>&bull;</li>
                <li><a href="#">Privacy</a></li>
            </ul> -->
            &copy; All Rights Reserved, Crystal Flooring, LTD
        </div>
    </div>
</footer>
  